header {
  background-color: var(--brackground_tertiary_color);
  width: 100%;
  height: 138px;
}

.compass_logo {
  display: inline-block;
  margin: 37px 0 0 48px;
}

.compass_logo img {
  height: 64px;
  width: 68px;
  display: block;
}
