header {
  background-color: var(--brackground_tertiary_color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
}

.compass_logo {
  display: inline-block;

}

.compass_logo img {
  height: 64px;
  width: 68px;
  display: block;
}

nav{
  display: none;
}
