.hero div{
    display: block;
    width: 100%;
    height: 400px;
    background: url(../img/Mobile/1-Homepage/Banner-homepage.png) no-repeat;
    background-size: cover;
}

.hero h2{
    font-family: "Montserrat";
    font-weight: var(--menu_text_weigth);
    font-size: 20px;
    text-align: center;
    width: 312px;
    margin: 88px auto 0 auto;
}

/* tablet style */
@media screen and (min-width:768px) {
    .hero div{
        display: block;
        width: 100%;
        height: 620px;
        background: url(../img/Tablet/1-Homepage/banner-tablet-optimized.png) no-repeat;
        background-size: cover;
    }

    .hero h2{
        font-size: 32px;
        width: 648px;
    }
}

/* desktop style */
@media screen and (min-width:1440px) {
    .hero div{
        display: block;
        width: 100%;
        height: 620px;
        background: url(../img/Desktop/1-Homepage/banner_scale_optimized.png) no-repeat;
        background-size: cover;
    }

    .hero h2{
        font-size: 32px;
        width: 1200px;
        margin: 104px auto 0 auto;
    }
}

@media screen and (min-width:1990px) {
    .hero div{
        display: block;
        width: 100%;
        height: 620px;
        background: url(../img/Desktop_Large/1-Homepage/banner.png) no-repeat;
        background-size: cover;
    }

    .hero h2{
        font-size: 32px;
        width: 1200px;
        margin: 104px auto 0 auto;
    }
}