
:root{
    --background_primaty_color:#ffffff;
    --background_secondary_color:#f5f5f5;
    --brackground_tertiary_color:#000000;

    --button_primary_color:#8F0101;
    --button_secondary_color:#B81515;

    --text_primary_color:#222222;
    --text_secondary_color:#FFFFFF;
}

/*Css Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}