.testimonials_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.text_content p {
    font-size: 16px;
    line-height:28px ;
    text-align: left;
    width: 312px;
    height: 140px;
    margin-bottom: 8px;
 
}
.testimony_name {
    font-weight: var(--titles_weigth);
    font-size: 20px;
    text-align: left;

}
.rating_content{
    width: 312px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.stars span {
    display: block;
    text-align: top;
    font-size: 39px;
    color: var(--secondary_color);
}

.image_box_testimony1 {
    height: 86px;
    width: 86px;
    background-image: url(../img/Mobile/1-Homepage/Avatar-Talita.png);
}

.image_box_testimony2 {
    height: 86px;
    width: 86px;
    background-image: url(../img/Mobile/1-Homepage/Avatar-Amari.png);
}

.image_box_testimony3 {
    height: 86px;
    width: 86px;
    background-image: url(../img/Mobile/1-Homepage/Avatar-Lauro.png);
}

@media screen and (min-width: 768px) {
    .text_content p {
        width: 648px;
        height: 84px;
    }
}

@media screen and (min-width:1440px) {
    .testimonials_box{
        flex-direction: row;
        justify-content: center;
    }
    .text_content p {
        width: 384px;
        height: 112px;
    }
}